$color01:rgb(69, 212, 217);

body,h1,h2,h3,h4,p,img,ul,li{
    margin: 0;
    padding: 0;
}
body{    
    width: 100%;
    background-color: $color01;
}

header{
    height: 80px;
    display: flex;
    background-color: rgb(255, 255, 255);
    .head01{
        font-family: serif,sans-serif;
        margin-top: 15px;
        margin-left: 2em;
    }
    .head02{
        margin-top: 15px;
        margin-left: auto;
        img{
            width: 3em;
           margin-right: 5em;
        }
        
    }
}

// iPad,Tablet
@media screen and (max-width:1024px) {
}


// iPhone
@media screen and (max-width:480px){
    .head01{
        h1{
            font-size: 15px;
        }
    }
}